<div class="text-bg-dark p-5" style="height: 50vh">
  <div class="d-flex flex-row justify-content-between">
    <div class="info">
      <p class="m-0">Domkraftsvägen 1 / 197 40 Bro, Sweden</p>
      <p>08-582 404 29</p>
      <div>
        <a href=""></a>
      </div>
    </div>
    <div class="d-flex gap-5">
      <h4 class="open">We are open:</h4>
      <table class="table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pe-4">Måndag</td>
            <td>7:00 - 17:00</td>
          </tr>
          <tr>
            <td>Tisdag</td>
            <td>7:00 - 17:00</td>
          </tr>
          <tr>
            <td>Onsdag</td>
            <td>7:00 - 17:00</td>
          </tr>
          <tr>
            <td>Torsdag</td>
            <td>7:00 - 17:00</td>
          </tr>
          <tr>
            <td>Fredag</td>
            <td>7:00 - 15:00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-5 text-center copy">&copy; Copyright 2022 autoclassic</div>
</div>
