<div class="text-bg-dark p-5 h-50vh">
  <div class="d-flex flex-row justify-content-between">
    <div>
      <p class="m-0">Domkraftsvägen 1 / 197 40 Bro, Sweden</p>
      <p>08-582 404 29</p>
    </div>
    <div class="d-flex gap-5">
      <h4>We are open:</h4>
      <table class="table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Måndag</td>
            <td>7:00 - 17:00</td>
          </tr>
          <tr>
            <td>Måndag</td>
            <td>7:00 - 17:00</td>
          </tr>
          <tr>
            <td>Måndag</td>
            <td>7:00 - 17:00</td>
          </tr>
          <tr>
            <td>Måndag</td>
            <td>7:00 - 17:00</td>
          </tr>
          <tr>
            <td>Måndag</td>
            <td>7:00 - 17:00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="text-center">&copy; Copyright 2022 autoclassic</div>
</div>
