<div class="container-fluid min-vh-50">
  <div class="text-bg-dark p-5 row">
    <div class="col-12 col-sm-6 mb-4 mb-sm-0">
      <div class="mb-1 align-self-start">
        Domkraftsvägen 1 / 197 40 Bro, Sweden
      </div>
      <a
        class="mb-5 align-self-start text-bg-dark text-underline text-decoration-none"
        href="tel:+1234567890"
        ><strong><u>08-582 404 29</u></strong></a
      >
      <div class="gap-4 mb-3 mt-4 d-none d-sm-flex">
        <a
          *ngFor="let symbol of symbols"
          target="{{ symbol.target }}"
          href="{{ symbol.link }}"
          class="text-white"
        >
          <fa-icon [icon]="symbol.icon" size="2x"></fa-icon>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="d-block d-md-flex gap-3">
        <div class="h3 p-0 mb-3 text-nowrap">We are open</div>
        <div class="container-fluid mb-5">
          <div class="row mb-1 text-start" *ngFor="let date of open">
            <div class="col-4">
              <div>{{ date.date }}</div>
            </div>
            <div class="col-8">
              <div>{{ date.time }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex gap-4 mb-3 d-sm-none justify-content-center">
      <a
        *ngFor="let symbol of symbols"
        target="{{ symbol.target }}"
        href="{{ symbol.link }}"
        class="text-white"
      >
        <fa-icon [icon]="symbol.icon" size="2x"></fa-icon>
      </a>
    </div>
    <div class="text-center copy">&copy; Copyright 2022 autoclassic</div>
    <!-- <div class="mt-5 text-center copy">&copy; Copyright 2022 autoclassic</div> -->
  </div>
</div>
