<div class="container-fluid">
    <div class="row">
        <div class="aboutUsLeft col-lg-6 col-md-6">
            <img src="../../assets/about us.jpg" alt="Automobile Workshop">
        </div>
        <div class="aboutUsRight col-lg-6 col-md-6">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Eaque sit nulla cum consequuntur, impedit deleniti totam
                rem illo libero fuga voluptatum quia id sint expedita di
                gnissimos incidunt quae molestias sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium cupiditate quia tempora beatae pariatur consequuntur vitae quam commodi debitis officia maxime temporibus delectus, 
                rem ullam libero minus ducimus quasi adipisci.</p>
        </div>
    </div>
</div>