<div class="container-fluid">
    <div class="row">
        <div class="aboutUsLeft col-lg-6 col-md-6">
            <img src="../../assets/about us.jpg" alt="Automobile Workshop">
        </div>
        <div class="aboutUsRight col-lg-6 col-md-6">
            <h1 class="text-dark">About Us</h1>
            <p class="text-dark">Welcome to our Swedish Auomobile Workshop! We are a team of experienced mechanics and tehcnicians
                dedicated to providing top-quality service for all makes and models of vehicles. With over 20 years
                of experience in the industry, we have the knowledge and skills to handle any repair or maintenance
                need you may have. Our facility is equipped with the latest diagnostic and repair equipments,
                ensuring that we can get your vehicle back on the road quickly.
            </p>
        </div>
    </div>
</div>