// For Large Screens
@media (min-width: 501px) {
  .home-hero {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    height: 85vh;
  }

  .home-hero-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .home-hero-quote {
    position: absolute;
    bottom: 25%;
    left: 5%;
    width: 60%;
  }

  .home-hero-quote-text {
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    font-size: 4rem;
    border-radius: 20px;
    padding: 2%;
  }
}

//For Mobile Screens
@media (max-width: 500px) {
  .home-hero {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    height: 85vh;
  }

  .home-hero-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .home-hero-quote {
    background-color: #1363df;
    border-radius: 20px;
    padding: 4%;
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%;
  }

  .home-hero-quote-text {
    text-align: center;
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    font-size: 2rem;
  }
}
