<section class="container-fluid">
  <div class="row p-4" style="background-color: #f8f1f1">
    <div class="col-12 col-md-6 p-4" *ngFor="let service of servicesList">
      <div class="card h-100">
        <img
          src="{{ service.image }}"
          class="card-img-top"
          alt="tire storage"
          height="70%"
        />
        <div class="card-body">
          <h5 class="card-title">{{ service.title }}</h5>
          <p class="card-text">{{ service.text }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
