<div id="testimonial-carousel" class="carousel slide bg-light" data-ride="true">

    <div class="carousel-inner text-dark">

      <h1 class="testimonial-header mx-auto">What Our Clients Are Saying About Us</h1>
      <div class="carousel-item active container-fluid">
        <h2 class="testimonial-text">"I was really impressed with the service at this workshop. The mechanic was friendly, knowledgeable, and got my car fixed in no time. I'll definitely be coming back for all my car repair needs."</h2>
        <div class="client mx-auto">
          <img class="testimonial-image" src="../../assets/saga.png" alt="Client 1">
          <em>Saga, Örebro</em>
        </div>
      </div>  

      <div class="carousel-item container-fluid">
        <h2 class="testimonial-text">"I've been bringing my car to this workshop for years and they never disappoint. The staff is always friendly and helpful, and they do great work. I trust them to take care of my car like it's their own."</h2>
        <div class="client mx-auto">
          <img class="testimonial-image" src="../../assets/markus.png" alt="Client 2">
          <em>Markus, Östersund</em>
        </div>
      </div>

      <div class="carousel-item container-fluid">
        <h2 class="testimonial-text">"I was in a bit of a bind when my car broke down, but this workshop came to the rescue. They were able to fit me in on short notice and had my car back on the road in no time."</h2>
        <div class="client mx-auto">
          <img class="testimonial-image" src="../../assets/kassandra.png" alt="Client 3">
          <em>Kassandra, Stockholm</em>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

</div>